<div
  class="modal fade"
  id="infoModal1"
  tabindex="-1"
  aria-labelledby="infoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Informações</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h3 style="text-align: justify">Modelos de pontuação de conservação</h3>

        <p style="text-align: justify">
          <strong>A classificação dos aminoácidos</strong> é uma abordagem
          simples para avaliar a conservação de alinhamentos de proteínas. Nesse
          método, os aminoácidos são agrupados com base em suas propriedades
          físicas e químicas, como carga elétrica, tamanho e hidrofobicidade.
          Para usar a classificação dos aminoácidos na avaliação da conservação
          de alinhamentos de proteínas, siga estes passos:
        </p>

        <p style="text-align: justify">
          <strong>1. Identificação dos grupos de aminoácidos:</strong>
          Primeiro, agrupe os aminoácidos do alinhamento em categorias com base
          em suas propriedades. Por exemplo, você pode agrupar aminoácidos
          carregados positivamente, carregados negativamente, hidrofóbicos,
          hidrofílicos, etc.
        </p>

        <p style="text-align: justify">
          <strong>2. Avaliação da conservação:</strong> Em seguida, examine cada
          posição no alinhamento e conte quantos aminoácidos de cada grupo estão
          presentes nessa posição. Uma maior predominância de um grupo
          particular em uma posição indica uma conservação de propriedades
          específicas nessa posição.
        </p>

        <p style="text-align: justify">
          <strong>3. Interpretação:</strong> Com base na distribuição dos grupos
          de aminoácidos em diferentes posições do alinhamento, você pode
          inferir quais regiões são mais conservadas em termos de suas
          propriedades físicas e químicas.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
