<div
class="modal fade"
id="infoModal3"
tabindex="-1"
aria-labelledby="infoModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="infoModalLabel">Informações</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <h3 style="text-align: justify">
        Limite de sequencias sem conservação (X-Threshold)
      </h3>

      <p style="text-align: justify">
        <strong>O X-Threshold</strong> é útil para segmentar
        sequências longas que podem conter múltiplas instâncias de
        um padrão Prosite. Ele permite que você identifique
        regiões distintas dentro da sequência que correspondem a
        diferentes padrões ou motivos biológicos.
      </p>

      <p style="text-align: justify">
        Ao definir um threshold adequado, você pode controlar a
        sensibilidade da detecção de padrões e segmentar as
        sequências de maneira mais precisa, facilitando a análise
        e interpretação dos resultados.
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
      >
        Fechar
      </button>
    </div>
  </div>
</div>
</div>